version: '3.7'
services:
  postgres:
    image: postgres:latest
    container_name: database
    restart: always
    ports:
      - '${DB_PORT}:5432'
    env_file:
      - '.env'
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql

volumes:
  db_data:
